################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test_PoojaDoshi/bin/Debug/net8.0
/.vs
/Test_PoojaDoshi/obj
